output/output.png
test_edit/test.png
__pycache__/app.cpython-39.pyc
__pycache__/detoureur.cpython-39.pyc
__pycache__/image_edit.cpython-39.pyc
output/output1.png
output/stupide.png
output/test.png
output/test2.png
output/test3.png
output/test4.png
output/test5.png
output/test6.png
output/test7.png
output/test8.png
image_edit.py
test.py
test_edit.py
